#blog-sections {
  width: 50%;
  min-width: 450px;
  margin: 0 auto;
  text-align: justify;
}
#blog-sections img {
  max-width: 100%;
}
#blog-sections h1 {
  cursor: pointer;
}

.post-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.8s ease;
}
.post-header.active + .post-content {
  max-height: 2000px;
}
#special-button{
  line-height: 2em;
  margin-left: 2em;
  float: left;
  cursor: pointer;
}
#special-button.active #sunglasses {
  background: linear-gradient(rgba(255, 173, 0, 1), rgba(255, 255, 255, 0));
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
}
#about-row {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}
.site-header {
  background-image: url(https://catfeeders.files.wordpress.com/2011/10/cropped-cat-header-1.jpg);
  height: 240px;
  background-size: cover;
  background-position: center;
}
.site-header .wrapper {
  width: 90%;
  margin: auto;
}
.site-title {
  color: white;
  font-size: 6em;
  line-height: 240px;
  font-family: serif;
}
.site-footer{
  height: 2em;
  border-top: 1px solid #0e1717;
  margin-top: 2em;
}
.site-footer span {
  line-height: 2em;
  float: right;
  margin-right: 2em;
}
